<div class="panel panel-default">
  <div class="panel-heading">
    個人資料
  </div>
  <div class="panel-body">
    <%= image_tag @user.profile_picture.url(:medium) %><br>
    帳號: <%= link_to @user.name, user_posts_path(@user) %><br>
    電子信箱: <%= @user.email %><br>
    簡介: <%= @user.about %><br>
  </div>
  <div class="panel-footer">
    <%= link_to "編輯", edit_user_path(@user)%>
  </div>
</div>

