<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag session_path do |f| %>
      <%= label_tag "帳號 " %>
      <%= email_field_tag :email %><br>
      <%= label_tag "密碼 " %>
      <%= password_field_tag :password %><br>
      <!--input type="text" name="email"-->
      <!--input type="password" name="password"-->
      <!--input type="submit" value="登入"-->
  </div>
  <div class="panel-footer">
    <%= submit_tag "登入" %>
    <%= button_to "新增帳戶", new_user_path %>
    <%#= button_to "忘記密碼", new_user_path %>
  </div>
    <% end %>
</div>
