<div class="panel panel-default">
  <div class="panel-heading">
    有
    <%= link_to @tag.name, posts_tag_path(@tag) %>
    的文章<br/>
  </div>

  <div class="panel-body">
    <ul>
      <% @posts.each do |post| %>
        <li>
          <%= link_to post.user.name, user_posts_path(post.user) %>:
          <%= link_to post.title, post %>
          <%= post_status_signal post %>
          <%= post.updated_at.to_formatted_s(:short) %>
        </li>
      <% end %>
    </ul>
  </div>
  
  <div class="panel-footer">
    <%#= link_to '編輯標籤', edit_tag_path(@tag) %>
    <%#= link_to '刪除標籤', tag_path(@tag), :method => :delete, :data => { :confirm => "你確定嗎?" } %>
    <%#= link_to '上一頁', tags_path %>
  </div>
</div>
