<% if user_signed_in? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
        <%= current_user.name %>:
    </div>

    <div class="panel-body">
      <%= render "new_form", :post => Post.new %>
    </div>
  </div>
<% end %>

<!--<h2>文章列表 (public posts)</h2>-->

<% @posts.each do |post| %>
  <div class="panel panel-default">

    <div class="panel-heading">
        <%= post.title %>
        <%= post.updated_at.to_formatted_s(:short) %>
    </div>

    <div class="panel-body">
      <%= user_link post, user_posts_path(post.user) %>:
      <%= post.content %>
      <hr>

      <div>
        <span class="glyphicon glyphicon-tags"></span>
        &nbsp
        <% post.tags.each do |tag| %>
          <%= link_to "• #{tag.name}", tag_posts_path(tag) %>
        <% end %>
      </div>
    
    </div>

    <div class="panel-footer">
      <%= render 'post_replies/reply', :post => post %>

      <% if user_signed_in? %>    
        <div class="row-fluid">

          <div class="">
            <%= current_user.name %>:
          </div>

          <div class="">
            <%= form_for post.replies.create, :url => post_replies_path(post) do |f| %>
              <%= f.text_field :content, placeholder: "write a comment..." %>
              <%= f.submit "submit", :style => "display: none" %>
            <% end %>
          </div>

        </div>
      <% end %>

    </div>
    
  </div>
<% end %>
