<div class="panel panel-default">
  <div class="panel-heading">
    <%= "編輯費文 <#{@post.title}>" %>
  </div>
  <div class="panel-body">
    <%= form_for @post, :url => forum_post_path(@forum, @post) do |f| %>
      <%= f.label :title, "標題: " %><br>
      <%= f.text_field :title, placeholder: "what's on your mind?" %><br>
      <%= f.label :content, "內容: " %><br>
      <%= f.text_area :content %><br>
      <span>
        <span class="glyphicon glyphicon-tags"></span>
      </span>&nbsp
      <%= f.label :tag_ids, "標籤: " %><br>
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br>
      <%= f.label :status, "status: " %><br>  
      <%= f.select :status, Post.where("status != ?", "deleted").uniq.pluck(:status) %>
      <%= f.submit "送出" %>
    <% end %>
  </div>
</div>
