<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to "#{@forum.name} 板", forum_path(@forum) %>
  </div>
  <div class="panel-body">
  <% @posts.each do |post| %>
    <%= link_to post.title, forum_post_path(@forum, post) %><br>
  <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to "po 個費文", new_forum_post_path(@forum) %>
    <%= link_to "編輯看板", edit_forum_path(@forum) %>
    <%= link_to "join this one", join_this_forum_path(@forum) %>
    <%# this site does not support "destroy" function :) %>
    <%#= link_to "真刪除", @forum, method: :delete, :data => { :confirm => "你確定嗎?" } %>
  </div>
</div>